

.center-bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #dfe3ff, #eef1ff);
    font-family: Arial, sans-serif;
}

.form-bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef1ff;
    font-family: Arial, sans-serif;
}



.form-box {
    background: white;
    padding: 35px;
    width: 430px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}



label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: 6px;       
    margin-top: 10px;         
}



input[type="text"],
input[type="password"] {
    width: 100%;
    height: 48px;             
    padding: 12px 14px;        
    border: 1px solid #bbb;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    background: #ffffff;
    margin-bottom: 16px;       
}



.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 45px; }      


.toggle-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 20px;
}



.error {
    color: red;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 5px;
    text-align: left;
}



.dots {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: -6px;
}

.dot {
    width: 13px;
    height: 13px;
    background: #ccc;
    border-radius: 50%;
}



.btn {
    width: 100%;
    padding: 13px;
    font-size: 17px;
    background: #7d8cff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease;
}

.btn.enabled {
    opacity: 1;
}

.btn:hover {
    background: #6576ff;
}



.success-icon {
    font-size: 65px;
    color: #28a745;
    margin-bottom: 15px;
}



.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.slide-up {
    animation: slideUp 1s ease-out;
}

.zoom-in {
    animation: zoomIn 0.7s ease-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translateY(40px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

@keyframes zoomIn {
    from {transform: scale(0.6); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
